@use "rtl.scss";

.switch-box {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    display: none;
}

.go-top.active {
    top: calc(100% - 30px);
    opacity: 1;
    right: 30px;
    visibility: visible;
    border-radius: 10px;
}

////////////////////////////////////////////////////////////////////////////////////

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

:root {
    --headerFonts: "Jost", sans-serif;
    --bodyFonts: "Jost", sans-serif;
    --greenColor: #cc0271;
    --primaryColor: var(--greenColor);
    --primaryColorDark: #a9005d;
    --primaryColor50: #ffe9f6;
    --titleColor: #191f30;
    --bodyColor: #000;
    --whiteColor: #ffffff;
    --fontSize: 16px;

    --switches-bg-color: #fff;
    --switches-label-color: #000;
    --switch-bg-color: #fff;
    --switch-text-color: #000;

    --gray: #e7e7e7;

    --extraLightGray: #fcfdff;

    --transition: 0.2s;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
}

.flatpickr-day:hover,
.flatpickr-day:focus {
    border-color: var(--primaryColor50) !important;
    background: var(--primaryColor50) !important;
    color: #000 !important;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #fff;
}

.image-with-pink-bg-wrapper {
    position: relative;
    text-align: right;
    padding: 0 30px 30px 30px;

    &:after {
        content: "";
        background: var(--primaryColor50);
        width: 200%;
        height: 80%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        border-radius: 10px;
    }
}

.iti {
    display: block !important;
}
.activate-inputs-container {
    width: fit-content;
    margin: auto;
    .activate-inputs {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        width: fit-content;
        margin: auto;
        input {
            width: 70px;
            height: 70px;
            border-radius: 15px;
            border: none;
            margin: 5px;
            text-align: center;
            color: var(--secondaryColor);
            font-size: 38px;
            font-weight: bold;
            border: 1px solid var(--gray);
            &:focus {
                border-color: var(--secondaryColor);
            }
        }
    }
}

.relative {
    position: relative;
}

a {
    color: var(--primaryColor);
    text-decoration: unset;

    &:hover {
        color: #000;
        text-decoration: unset;
    }
}

.btn-group-sm > .btn,
.btn-sm {
    padding: 6px 22px;
}

.modal-content {
    border-radius: 25px;
}

.custom-badge {
    padding: 8px 14px;
    border-radius: 30px;
    font-weight: normal;
}

.color-white {
    color: #fff;
}

.color-gray {
    color: #aaa8a9;
}
.color-dark-gray {
    color: #636363;
}

.bg-gray {
    background-color: #f5f6f7;
}

.bold {
    font-weight: bold;
}

.form-control {
    border-radius: 8px;
}
.form-control:focus {
    box-shadow: unset;
    border-color: var(--primaryColor);
}

.default-btn::before {
    content: unset !important;
}

.default-btn,
.default-btn::before {
    border-radius: 500px;
}

.default-btn {
    background: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    color: #fff;

    &:hover {
        background: var(--primaryColorDark);
        border: 1px solid var(--primaryColorDark);
        color: #fff;
    }
}

.default-btn.tow,
.default-btn.two {
    background: var(--extraLightGray);
    border: 1px solid var(--gray);
    color: #000;

    &:hover {
        background: var(--gray);
        border: 1px solid var(--gray);
        color: #000;
    }
}

.default-btn.three {
    background-color: #fff;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);

    &:hover {
        color: var(--primaryColor);
        background-color: var(--primaryColor50);
        border: 1px solid var(--primaryColor);
    }
}

.default-btn.border-radius-sm,
.default-btn.border-radius-sm::before {
    border-radius: 500px;
}

.default-btn.lg-btn {
    min-width: 280px;
    max-width: 100%;
}

.section-title h2 {
    font-weight: bold;

    b {
        font-weight: bold;
    }
}

.desktop-nav .navbar .navbar-nav {
    margin-left: unset;
    margin-right: unset;

    .nav-item {
        padding-bottom: 24px;
        padding-top: 24px;
    }
    .nav-item a i {
        transform: unset !important;
    }

    .nav-item a.active {
        border-bottom: 2px solid var(--primaryColor);
    }

    .ar-link {
        border: 1px solid #d4d4d4;
        border-radius: 500px;
        display: flex;
        padding: 0 20px !important;
    }
}

.navbar-light .navbar-brand img {
    width: 100px;
}

.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}

.intro-with-bg {
    background-color: var(--primaryColor);
    // background-image: url("../images/slider-intro.jpg");
    background-position: center;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-group {
    position: relative;

    label {
        text-transform: capitalize;
    }
}

.card-number-form-group {
    &::after {
        content: url(../images/card-number-icons.png);
        position: absolute;
        top: 32px;
        right: 10px;
    }
}

.banner-area-for {
    height: calc(100vh - 80px);
    position: relative;

    background:
        url(../images/intro-shape-002.png) right top no-repeat,
        url(../images/intro-shape-001.png) left bottom no-repeat;
    background-color: var(--primaryColor);

    .row > div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .banner-col-absolute {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    .banner-content-two {
        padding: 0;
        background-color: transparent;
        max-width: 100%;
        position: relative;

        h1,
        p {
            color: #fff;
        }

        h1 {
            font-size: 46px;
        }
        p {
            font-size: 20px;
        }
    }

    .cari-delivery-wrapper {
        width: 70%;
        position: absolute;
        bottom: 30px;
        left: 0;
    }

    .banner-image {
        height: 100%;
        overflow: hidden;
        width: 100%;
        text-align: end;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.flexible-plans {
    background-image: url(../images/shape-bg-001.svg);
    background-position: 110% 2px;
    background-repeat: no-repeat;
    background-size: 30%;
}

.why-choose-cards-row {
    .col-lg-4:nth-child(1) {
        border-right: 1px solid var(--gray);
    }
    .col-lg-4:nth-child(2) {
    }

    .col-lg-4:nth-child(3) {
        border-left: 1px solid var(--gray);
    }

    .col-lg-4:nth-child(4) {
        border-right: 1px solid var(--gray);
    }

    .col-lg-4:nth-child(5) {
    }

    .col-lg-4:nth-child(6) {
        border-left: 1px solid var(--gray);
    }

    .why-choose-card {
        padding: 50px;

        i {
            font-size: 36px;
            color: var(--primaryColor);
        }
    }
}

.flexible-plans-card-wrapper {
    position: relative;

    .option-container {
        position: absolute;
        top: 27px;
        left: 15px;
        width: fit-content;

        .radio-with-select-item,
        .checkmark {
            border-color: var(--primaryColor);
            background-color: #fff !important;
            height: 28px;
            width: 28px;
            top: 0;
            left: 0;
            cursor: pointer;
            border-color: #c2c2c2;

            &::after {
                content: "\43";
                font-family: "cari-icons" !important;
                font-style: normal !important;
                font-weight: normal !important;
                font-variant: normal !important;
                text-transform: none !important;
                speak: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 14px;
                color: var(--primaryColor);
                position: absolute;
                top: 6px;
                left: 5px;
            }
        }
    }

    h5 {
        margin-left: 30px;
    }
}

.flexible-plans-card {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid var(--gray);

    &.selected {
        border: 2px solid var(--primaryColorDark);
    }

    &.style-2 {
        .flexible-plans-card-content p {
            min-height: unset;
        }
    }

    &.recommended {
        .default-btn.three {
            background-color: var(--primaryColor);
            color: #fff;
        }

        .price {
            position: relative;
        }

        .price:after {
            content: url(../images/emoji-p.png);
            position: absolute;
            top: -10px;
            right: 0;
        }
    }

    .image-wrapper {
        position: relative;
        .label {
            background: #fff;
            color: var(--primaryColor);
            position: absolute;
            top: 30px;
            left: 0;
            padding: 5px 15px 5px 10px;
            border-radius: 0 500px 500px 0;
            margin: 0px;
        }
    }

    .flexible-plans-card-content {
        p {
            min-height: 170px;
        }
    }
}

.products-section {
    padding-bottom: 60px;
    .owl-carousel .owl-dots.disabled {
        display: block !important;
        .owl-dot {
            span {
                background: #343434;
            }

            &.active {
                span {
                    background: #fff !important;
                }
            }
        }
    }
}

.custom-faq-area {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primaryColor);
        background-image: url(../images/shape-bg-002.svg);
        background-position: 0px 40px;
        background-repeat: no-repeat;
        z-index: -1;
    }

    .accordion .accordion-item {
        background-color: transparent;

        .accordion-title {
            color: #fff;
            background-color: transparent;
            i {
                color: #fff;
            }
        }

        .accordion-content p {
            color: #fff;
        }
    }

    .custom-faq-area-text {
        * {
            color: #fff;
        }

        .title {
            font-size: 4rem;
        }
    }
}

.custom-footer-area {
    color: #fff;
    background-color: #000;
    background-image: url(../images/shape-bg-003.svg);
    background-position: 120% 220px;
    background-repeat: no-repeat;
    padding-bottom: 180px;

    * {
        color: #fff;
    }

    .footer-widget .footer-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        top: 0;
        img {
            width: 100px;
            margin-inline-end: 25px;
        }
    }

    ul.links-list {
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;

        li {
            a {
                margin-inline-end: 30px;
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    color: var(--primaryColor);
                }

                i {
                    line-height: 0;
                    margin-inline-end: 5px;
                }
            }
        }
    }

    .social-link li a i {
        color: #fff;
        &:hover {
            color: var(--primaryColor);
        }
    }
}

.copyright-area {
    border-top: none;
}

.main-page-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;

    .page-content {
        padding: 25px;
    }
}

.main-page-wrapper.custom-your-plan {
    .flexible-plans-card-wrapper * {
        cursor: pointer;
    }

    .flexible-plans-card-wrapper:hover .flexible-plans-card {
        box-shadow: 0 0 10px #b4b4b465;
    }
}

.dashboard-header {
    padding: 30px;
    border-radius: 20px;
}

.dashboard-custom-card {
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
}

.card {
    border-radius: 0.8rem;
    border-color: var(--gray);
}

ul.steps {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    text-align: center;

    .step {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 33%;
        position: relative;

        &.active {
            &:after {
                background: var(--primaryColor);
            }
            a {
                border-color: var(--primaryColor);
                color: var(--primaryColor);
            }
            p {
                color: var(--primaryColor);
            }
        }

        &.finished {
            &:after {
                background: var(--primaryColor);
            }
            a {
                border-color: var(--primaryColor);
                background-color: var(--primaryColor);
                color: #fff;
            }
            p {
                color: var(--primaryColor);
            }
        }

        &:first-child {
            &:after {
                content: none;
            }
        }

        &:after {
            content: "";
            position: absolute;
            top: 25px;
            width: calc(100% - 50px);
            height: 2px;
            background: var(--gray);
            cursor: auto;
            right: calc(50% + 25px);
        }

        a {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 0;
            border-radius: 500px;
            border: 2px solid var(--gray);
            margin-bottom: 10px;
            position: relative;
            color: var(--gray);
        }

        p {
            color: var(--gray);
        }
    }
}

.order-pref {
    background: var(--extraLightGray);
    padding: 25px !important;
    border-radius: 25px;
    border: 1px solid var(--gray);
}

hr.border-line {
    height: 0px;
    border: 1px dashed #000;
    background: unset;
    margin: 10px 0px;
}

//////////////// dark theme

.theme-dark .banner-content-two {
    background-color: transparent;
}

//////////////// dark theme end

.switches-container {
    width: 16rem;
    position: relative;
    display: flex;
    padding: 0;
    position: relative;
    background: var(--gray);
    line-height: 2.5rem;
    border-radius: 3rem;
    border: 2px solid var(--gray);
}

/* input (radio) for toggling. hidden - use labels for clicking on */
.switches-container input {
    visibility: hidden;
    position: absolute;
    top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.switches-container label {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: var(--switches-label-color);
}

/* switch highlighters wrapper (sliding left / right) 
    - need wrapper to enable the even margins around the highlight box
*/
.switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    padding: 0.15rem;
    z-index: 3;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    /* transition: transform 1s; */
    padding: 0;
}

/* switch box highlighter */
.switch {
    border-radius: 3rem;
    background: var(--switch-bg-color);
    height: 100%;
}

/* switch box labels
    - default setup
    - toggle afterwards based on radio:checked status 
*/
.switch div {
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
    color: var(--switch-text-color);
    transition: opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
}

/* slide the switch box from right to left */
.switches-container input:nth-of-type(1):checked ~ .switch-wrapper {
    transform: translateX(0%);
}

/* slide the switch box from left to right */
.switches-container input:nth-of-type(2):checked ~ .switch-wrapper {
    transform: translateX(100%);
}

/* toggle the switch box labels - first checkbox:checked - show first switch div */
.switches-container input:nth-of-type(1):checked ~ .switch-wrapper .switch div:nth-of-type(1) {
    opacity: 1;
}

/* toggle the switch box labels - second checkbox:checked - show second switch div */
.switches-container input:nth-of-type(2):checked ~ .switch-wrapper .switch div:nth-of-type(2) {
    opacity: 1;
}

/*  CUSTOM RADIO CSS START  */

.option-container {
    position: relative;
    display: flex;
    margin-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    padding-left: 30px;
    text-transform: capitalize;
    margin-bottom: 10px;

    &.option-inline {
        display: inline-flex;
        width: auto;
    }

    &.right-circle {
        padding-left: 0px;
        .checkmark {
            left: unset;
            right: 0;
        }
    }

    &.disabled {
        opacity: 0.5;
        &::after {
            content: "";
            background: transparent;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3333;
            cursor: auto;
        }

        .checkmark {
            border: 2px solid var(--gray) !important;
        }
    }

    .option-icon {
        width: 25px;
    }

    &:hover input ~ .checkmark {
        background-color: #fff;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-right: 0px;
        border: 2px solid var(--gray);
        background: #fff;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
        &:after {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #fff;
        }
    }

    input:checked ~ .checkmark {
        background-color: var(--primaryColor);
        border: 2px solid var(--primaryColor);
        box-shadow: 0 0 5px #fff;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

    &.checkbox-input {
        input:checked ~ .checkmark {
            &:after {
                all: unset;
                content: "=";
                font-family: "untitled-font-1" !important;
                font-style: normal !important;
                font-weight: normal !important;
                font-variant: normal !important;
                text-transform: none !important;
                speak: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                color: #fff;
                font-size: 11px;
            }
        }
    }
}

.colors {
    .option-container {
        padding-left: 0;
        margin-right: 10px;
        margin-bottom: 0;
        .checkmark {
            height: 23px;
            width: 23px;
            position: relative;
            border-radius: 500px;
            border: unset !important;
        }
    }

    .option-container input:checked ~ .checkmark {
        background-color: transparent;
    }

    .option-container .checkmark:after {
        content: "";
        position: absolute;
        color: #fff;
        top: -5px;
        left: -5px;
        background: transparent;
        width: 33px;
        height: 33px;
        border: 2px solid var(--primaryColor);
    }
}

.attributes-options.colors .option-container input:first-child:checked ~ .checkmark {
    margin-left: 5px;
}

.attributes-options-wrapper {
    display: flex;
}

.attributes-options {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;

    i {
        line-height: 0;
        margin-inline-end: 5px;
    }

    .options {
        margin-bottom: 20px;
    }

    &.fit-to-content {
        width: fit-content;
        .option-container {
            flex-grow: unset;
        }
    }

    &.style-2 {
        .option-container input:checked ~ .checkmark {
            background: var(--primaryColor) !important;
            color: #fff !important;
        }
    }

    &.style-3 {
        .option-container {
            font-size: 16px;
            input ~ .checkmark {
                height: 40px;
                padding: 10px 30px;
            }
            input:checked ~ .checkmark {
                background: #cc02711c !important;
                color: var(--primaryColor) !important;
            }
        }
    }
}

.default {
    .option-container {
        font-size: 14px;
        padding-left: 0;
        margin-right: 5px;
        flex-grow: 1;

        .checkmark {
            min-width: 65px;
            height: 40px;
            position: relative;
            border-radius: 500px;
            padding: 10px 20px;
            width: 100%;
            font-size: 15px;
        }

        input[disabled] + .checkmark {
            opacity: 0.4 !important;
        }
    }

    .option-container input:checked ~ .checkmark {
        background-color: var(--primaryColor50);
    }

    .option-container .checkmark:after {
        background: unset;
    }
}

/*  CUSTOM RADIO CSS START  */

.counter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        width: 40px;
        height: 40px;
        border: 2px solid var(--gray);
        line-height: 0;
        font-size: 18px;
        text-align: center;
        background: #fff;
        color: #3f3f3f;
        appearance: none;
        outline: 0;
        flex-grow: 1;
        border-radius: 200px;
        margin: 0 5px;
    }
    span {
        font-size: 18px;
        cursor: pointer;
        user-select: none;
        color: #6f6f6f;
        background: #fff;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--gray);
        border-radius: 300px;
        i {
            font-size: 12px;
            line-height: 0;
        }
    }
}

.form-check-input:checked {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
}

.products-section {
    background:
        url(../images/products-shape-01.png) right top no-repeat,
        url(../images/products-shape-02.png) left bottom no-repeat,
        url(../images/yall.png) 90% 95% no-repeat;
    background-color: #246a58;

    .section-title h2 {
        color: #fff;
    }
}

.one-meal-card-wrapper {
    overflow: hidden;
    position: relative;
    padding: 0 !important;
    cursor: pointer;

    .radio-with-select-item,
    .checkmark {
        position: absolute;
        height: 28px;
        width: 28px;
        top: 10px;
        left: 10px;
        cursor: pointer;
        border-color: var(--primaryColor);
        &::after {
            content: "\43";
            font-family: "cari-icons" !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            speak: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 14px;
            color: var(--primaryColor);
            position: absolute;
            top: 6px;
            left: 5px;
        }
    }

    input:checked ~ .checkmark {
        background-color: #fff !important;
        border: 2px solid var(--primaryColor);
        box-shadow: unset;
    }

    .one-meal-card {
        border-radius: 10px;
        overflow: hidden;
        border: 2px solid var(--gray);
        cursor: pointer;

        img {
            aspect-ratio: 4/2.7;
            object-fit: cover;
        }
    }

    &.green-bg-card {
        .one-meal-card {
            background-color: #3b806a;
            border: unset;
            box-shadow: 0 0 2px #0006;
        }
        h6 {
            color: #fff !important;
        }

        p {
            color: #fff !important;
        }
    }
}

input.radio-with-select-item:checked + span + label {
    border: 2px solid var(--primaryColor) !important;
    border-radius: 10px !important;
}

.subscription-details-card-wrapper {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid var(--gray);
}

.dashboard-card {
    background-color: var(--whiteColor);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid var(--greenColor);
    border-bottom: 2px solid var(--greenColor);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    display: block;
    i {
        font-size: 35px;
        margin: auto;
    }
}

.row-with-center-line {
    margin-top: 30px;
    .right-content {
        padding: 0 30px;
        border-right: 2px solid var(--gray);
    }

    .left-content {
        padding: 0 30px;
    }
}

.calendar-wrapper {
    display: flex;
    width: 100%;
    .days-wrapper {
        display: flex;
        width: 80%;

        .one-day {
            width: 100%;
            text-align: center;
            border-bottom: 3px solid var(--gray);
            padding-bottom: 10px;
            cursor: pointer;

            &.active {
                border-color: var(--primaryColor);
                p {
                    color: var(--primaryColor);
                }
            }
            p {
                margin: 0;
            }
        }
    }

    .nex-days {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: var(--extraLightGray);
        border: 1px solid var(--gray);
    }
}

.map-wrapper {
    margin-top: 30px;

    #map {
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 0 10px #ebebeb;
    }

    a#get-current-location-button {
        position: absolute;
        top: 60px;
        left: 10px;
        border-radius: 0;
        border-color: #a0a0a0;
        color: #000;
        padding: 8px 12px;
        font-size: 16px;
    }
}

.fixed-content-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px #898989;
    z-index: 9;

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 5px;
    }
}

.group-meals-wrapper {
    scroll-margin-top: 100px;
}

////////////////// media

@media all and (min-width: 1200px) {
    // lg screens and larger
    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .text-lg-end {
        text-align: right !important;
    }

    .container-sm-custom {
        max-width: 1200px !important;
    }
}

@media all and (max-width: 1200px) {
    .manage-subscription .col-lg-4 {
        margin-bottom: 15px;
    }

    .image-with-pink-bg-wrapper {
        margin-top: 30px;
    }

    .flex-column-reverse-md {
        flex-direction: column-reverse;
    }

    .flexible-plans-card-wrapper .option-container {
        top: 25px;
    }

    .steps-wrapper {
        margin-top: 10px;
    }

    .dashboard-custom-card {
        padding: 15px;
    }

    .dashboard-header {
        padding: 20px;

        .pause-subscription-and-text-wrapper {
            flex-direction: column;
            justify-content: center !important;
            align-items: flex-start !important;

            a.default-btn.pause-subscription {
                margin-top: 20px;
            }
        }

        .buttons-wrapper {
            justify-content: flex-start;
            align-items: center;
            display: flex;
            margin-top: 20px;
        }
    }

    .activate-inputs-container .activate-inputs input {
        width: 50px;
        height: 50px;
        font-size: 28px;
    }

    .banner-area-for {
        height: auto;

        > .row {
            flex-direction: column-reverse;
            padding: 0 !important;
        }

        .banner-col-absolute {
            position: relative;

            .banner-col-absolute-child-row {
                text-align: center;

                .banner-col-absolute-child-col {
                    flex-direction: column;
                }
            }

            .cari-delivery-wrapper {
                position: relative;
                width: 100%;
                bottom: unset;
                left: unset;
            }
        }

        .banner-content-two {
            padding: 30px 0 0 0;
        }
    }

    .why-choose-cards-row .col-lg-4 {
        border: none !important;
    }

    .nex-days {
        display: none !important;
    }

    .days-wrapper {
        width: 100% !important;
        .one-day {
            min-width: 120px;
        }
    }

    .calendar-wrapper {
        overflow: scroll;
        padding-bottom: 20px;
    }

    .flexible-plans-card {
        margin-bottom: 30px;
    }

    footer.footer-area {
        .links-list {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .footer-logo {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            img {
                margin-inline-end: 0 !important;
                margin-bottom: 20px;
            }
        }
    }

    .main-page-wrapper .page-content {
        padding: 15px;
    }

    .default-btn.lg-btn {
        min-width: 180px;
    }

    .row-with-center-line .right-content,
    .row-with-center-line .left-content {
        padding: 0;
        border: none !important;
    }

    .products-section {
        background-size: 50%, 50%, 20%;
    }
}

// large and small phones
@media all and (max-width: 650px) {
    ul.steps {
        .step {
            a {
            }

            p {
                font-size: 14px;
            }
        }
    }

    .inline-inputs-group {
        display: flex;
        flex-direction: column;
    }

    .products-section {
        background-size: 60%, 60%, 30%;
    }
}

// only small phone
@media all and (max-width: 400px) {
    ul.steps {
        .step {
            a {
            }

            p {
                font-size: 12px;
            }
        }
    }
}
